body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3eded;
}

#root {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root > div {
  background-color: #fff;
}

#app {
  width: 100%;
  padding: 10px;
}

.todo--inactive {
  color: #a7a7b3;
}

@media (min-width: 768px) {
  #app {
    max-width: 400px;
    margin: 10px auto;
  }
}
